<%- include('layout') %>
<h2><%= t.dashboard %></h2>
<ul>
  <li><a href="/services"><%= t.service %>s</a></li>
  <li><a href="/products"><%= t.product %>s</a></li>
  <li><a href="/cashier"><%= t.appName %></a></li>
  <li><a href="/reports/sales"><%= t.salesReport %></a></li>
</ul>
